<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person </title>
</head>
<body>
<!--/*@thymesVar id="person" type="com.moskalev.domain.dto.impl.personDto.PersonSignInDto"*/-->
<form th:method="POST" th:action="@{/api/startPages/signIn}" th:object="${person}">
    <label for="email">Email*</label>
    <input type="text" name="email" id="email"/>

    <br>

    <label for="password">Password*</label>
    <input type="text" name="password" id="password"/>



    <input type="submit" value="Sigh in"/>

</form>
</body>
</html>