<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person </title>
</head>
<body>
<h1>Application Login</h1>
<!--<a href="addPerson">Add Person</a>-->
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th> SIGH IN</th>
            <th> SIGH Up</th>

        </tr>

        <tr>
            <td>
                <a href="/api/startPages/signIn">sign In.... </a>>

            </td>

            <td>
                <a href="/api/persons/new"> Create new person</a>
            </td>

        </tr>
    </table>

</div>
</body>
</html>