<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Driver </title>
</head>
<body>

<!--/*@thymesVar id="person" type="com.moskalev.domain.dto.impl.driverDto.DriverToCreateDto"*/-->
<form th:method="POST" th:action="@{/api/driver}" th:object="${driver}">
    <label for="name">First Name</label>
    <input type="text" name="firstName" id="name"/>

    <br>

    <label for="lastname">Last Name</label>
    <input type="text" name="lastName" id="lastname"/>

    <br>

    <label for="personalNumber">personalNumber</label>
    <input type="text" name="personalNumber" id="personalNumber"/>

    <br>

    <label for="hoursWorkedPerMonth">hoursWorkedPerMonth</label>
    <input type="text" name="hoursWorkedPerMonth" id="hoursWorkedPerMonth"/>

    <br>

    <label for="statusOfDriver">statusOfDriver</label>
    <input type="text" name="statusOfDriver" id="statusOfDriver"/>

    <br>

    <input type="submit" value="Add driver"/>

</form>
</body>
</html>
