<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Person </title>
</head>
<body>

<!--/*@thymesVar id="person" type="com.moskalev.domain.dto.impl.personDto.PersonToCreateDto"*/-->
<form th:method="POST" th:action="@{/api/persons}" th:object="${person}">
    <label for="name">First Name*</label>
    <input type="text" name="firstName" id="name"/>

    <br>

    <label for="lastname">Last Name*</label>
    <input type="text" name="lastName" id="lastname"/>

    <br>

    <label for="email">Email*</label>
    <input type="text" name="email" id="email"/>

    <br>

    <label for="password">Password*</label>
    <input type="text" name="password" id="password"/>

    <br>

    <label for="role">Role*</label>
    <input type="text" name="role" id="role"/>

    <br>

    <input type="submit" value="Add person"/>

</form>
</body>
</html>
