<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<!--<a href="addPerson">Add Person</a>-->
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Inform</th>
            <th>EDIT</th>
            <th>remove</th>
        </tr>

        <!--/*@thymesVar id="persons" type="com.moskalev.domain.dto.impl.personDto.PersonDto"*/-->
        <tr th:each="person : ${persons}">
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.email}">...</td>
            <td th:utext="${person.role}">...</td>

            <td>
                <form th:method="GET" th:action="@{/api/persons/{email}(email=${person.getEmail()})}">
                    <input type="submit" value="Select"/>
                </form>
            </td>

            <td><a th:href="@{/api/persons/{email}/edit(email=${person.getEmail()})}">Edit</a></td>
            <td>
                <form th:method="DELETE" th:action="@{/api/persons/{email}(email=${person.getEmail()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>

        </tr>
    </table>
    <br/>
    <hr/>
    <a href="/api/persons/new">Create new person</a>

</div>
</body>
</html>